/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Square+Peg&display=swap');


.welcome_page{
    background-image: url('images/clay-banks-8q6e5hu3Ilc-unsplash.jpg');
    color: white;
    font-weight: bold;
    font-size:150px;
    font-family: 'Dancing Script', cursive;
}